body {
	background-color: white;
	text-align: center;
}

.menu {
	height: 8vh;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 15px;
	padding: 0;
	margin-bottom: 5px;
}

.logo {
	float: center;
	height: 80px;
	width: 240px;
	margin-left: 20px;
	text-align: center;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

li {
	border: 2px orange solid;
	color: Blue;
	padding: 20px;
	font-size: 20px;
}

li:hover {
	background-color: #F7CE3E;
	color: gray;
	transition: all .5s ease-out;
}

li {
	list-style: none;
	padding: 10px;
	background: #1F2833;
	border: 5px black solid;
	color: white;
	text-align: center;
	font-family: impact;
	border: 6px;
}

a {
	text-decoration: none;
}

.showcase {
	height: 100vh;
	background-image: url(../images/what.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 10px;
}

.text {
	padding: 5px;
	height: 40vh;
	color: black;
	text-align: center;
	border: 3px #45A29E solid;
	font-size: 15px;
}

.footer{
	color: black;
	font-size: 10px;
    padding: 5px;
    background: #C5C1C0;
	margin: 7px;
}